html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}

body {
  background-color: lightskyblue;
}

/*===== REMOVE THIS WHEN MEMBERS SECTION IS READY =======*/
.main-section {
  /*display: none;*/
}

.members-section {
  /*display: none;*/
}
/*================================*/
/*/// general styling*/

/*//flex-box div wrapper*/
.flex-wrap {
  display: flex;
  margin: 0;
  flex-wrap: nowrap;
  padding-left: 0;
}

.panel-body {
  padding: 0;
}

.panel {
  margin: 0;
}

.add-list-btn,
.add-card-btn {
  padding: 0;
  border: none;
  background: none;
}

/*// bolds span elements*/
span {
  font-size: 15px;
  font-weight: bolder;
}

.edit-card-btn {
  display: none;
  position: absolute;
  margin-top: 2px;
  padding: 3px 6px;
  top: 2%;
  right: 2%;
}

.navbar {
  width: 100%;
  position: fixed;
}

.main-section {
  position: absolute;
  top: 50px;
  height: calc(100% - 50px);
  background-color: lightskyblue;
  overflow: auto;
  width: 100%;
}

.navbar-brand {
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
}

/*// each section inside wrapper div*/
.list-li {
  display: block;
  position: relative;
  margin: 10px;
  width: 300px;
}

/*// styling for add-list li*/
.add-li {
  display: block;
  position: relative;
  margin: 10px;
  width: 300px;
}

.main-ul {
  position: relative;
  overflow: scroll;
  max-height: calc(100vh - 180px);
  padding: 0;
}

.main-li {
  position: relative;
  border: 1px solid deepskyblue;
  list-style: none;
  width: 250px;
  min-height: 150px;
  margin: 20px 24px 30px;
  border-radius: 10px;
}

.member-labels {
position: absolute;
  bottom: 2%;
  right: 2%;
}

.main-li:hover .edit-card-btn {
  display: block;
}

.dropdown {
  position: absolute;
  left: 85%;
  top: 5px;
}

.dropdown ul {
  position: absolute;
  top: 33px;
  left: -125px;
}

/*//hides all inputs*/
.title-input {
  display: none;
}

/*======= styling for modal =======*/
.modal-body {
  width: 100%;

}


.text-area {

}

.text-box {
  width: 70%;
  display: inline-block;
  vertical-align: text-top;
  resize: none;
}

.text-title {
  display: inline-block;
  width: 120px;
}


.select-list-menu {
  width: 70%;
  display: inline-block;
  vertical-align: text-top;
}

.move-select-list {

}

.members-checkbox {
  max-height: 150px;
  overflow: auto;
}

.mymodal {
  background-color: rgba(0,0,0,0.6);
  display: none;
}

/*.modal-dialog {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
/*}*/


/*---------MEMBERS SECTION STYLING ----------*/



.members-header {
  display: block;
  position: absolute;
  top: 10%;
  left: 5%;
}

.list-group {
  display: block;
  position: absolute;
  top: 20%;
  left: 5%;

}

.list-group-item {
  line-height: 30px;
  position: relative;
  width: 700px;
  height: 70px;
  line-height: 50px;
}

.member-name-span {
  font-weight: normal;
}
.btn-container {
  position: absolute;
  right: 20px;
  top: 10px;
}



/*/// members edit-mode styling setup*/


/*hide cancel & save buttons*/
.edit-member-mode-btns {
  display: none;
}

/*hide member input field*/
.edit-member-name {
  width: 50%;
  display: none;
}

/*show cancel&save buttons when in edit mode*/
li.edit-mode > .edit-member-mode-btns {
  display: inline-block;
}

/*show input when in edit mode*/
li.edit-mode > .edit-member-name {
  display: inline-block;
}

/*hide span name in edit-mode*/
li.edit-mode > span {
  display: none;
}

/*hide edit&delete btns in edit mode*/
li.edit-mode > member-btns {
  display: none;
}

/*hide hover in edit-mode*/
.list-group-item.edit-mode:hover .edit-member,
.list-group-item.edit-mode:hover .delete-member {
  display: none;
}

.edit-member,
.delete-member {
  display: none;
  margin: 2px;
}

.add-member-input {
  padding-left: 0;
}
.list-group-item:hover .edit-member,
.list-group-item:hover .delete-member {
  display: inline-block;
}
