html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}

body {
  background-color: lightskyblue;
}
/*/// general styling*/


/*//flex-box div wrapper*/
.flex-wrap {
  display: flex;
  margin:0;
  flex-wrap: nowrap;
  padding-left:0;
}

.panel-body {
  padding: 0;
}

.panel {
  margin: 0;
}


.add-list-btn,
.add-card-btn {
  padding: 0;
  border: none;
  background: none;
}

/*// bolds span elements*/
span {
  font-size: 15px;
  font-weight: bolder;
}

.edit-card-btn {
  margin-top: 2px;
  padding: 3px 6px;
  position: absolute;
  right: 30px;
}

.navbar {
  width: 100%;
  position: fixed;
}

.main-section {
  position: absolute;
  top: 50px;
  height: calc(100% - 50px);
  background-color: lightskyblue;
}

.navbar-brand {
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
}

/*// each section inside wrapper div*/
.list-li {
  display: block;
  position: relative;
  margin: 10px;
  width: 300px;
}

/*// styling for add-list li*/
.add-li {
  display: block;
  position: relative;
  margin: 10px;
  width: 300px;
}

.main-ul {
  overflow: scroll;
  max-height: calc(100vh - 180px);
  padding: 0;
}

.main-li {
  border: 1px solid deepskyblue;
  list-style: none;
  width: 250px;
  height: 200px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  border-radius: 10px;
}

.main-li:hover {

}

.dropdown {
  position: absolute;
  left: 85%;
  top: 5px;
}

.dropdown ul {
  position:  absolute;
  top: 33px;
  left:-125px;
}

/*//hides all inputs*/
input {
  display: none;
}

